<div fxLayout="column" fxLayoutAlign="center center" fxFill>
	<div fxLayout="column" fxFlex="50" fxLayoutAlign="center center">
		<mat-card>
			<img class="d-block mx-auto mb-4 rounded" src="/assets/logos/logo.png" alt="" height="64">
			<button mat-raised-button routerLink="./bounty-create">New Bounty</button>
			<h1>{{ message ? message : 'Select a bounty' }}</h1>
			<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

				<!-- Position Column -->
				<ng-container matColumnDef="chainCode">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Chain Code </th>
					<td mat-cell *matCellDef="let element"> {{element.chainCode}} </td>
				</ng-container>

				<!-- Name Column -->
				<ng-container matColumnDef="mission">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Mission </th>
					<td mat-cell *matCellDef="let element"> {{element.mission}} </td>
				</ng-container>

				<!-- Weight Column -->
				<ng-container matColumnDef="credits">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Credits </th>
					<td mat-cell *matCellDef="let element"> {{element.credits}} </td>
				</ng-container>

				<!-- Symbol Column -->
				<ng-container matColumnDef="class">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
					<td mat-cell *matCellDef="let element"> {{element.class}} </td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['./bounty', row.chainCode]"></tr>
			</table>
		</mat-card>
	</div>
</div>