<mat-toolbar>
  <span routerLink="/">Coinbounty</span>
  <span class="spacer"></span>
  <div class="button-row">
    <ng-container *ngIf="!isLoggedIn">
      <button mat-stroked-button (click)="openDialog()">Login</button>
      <button mat-flat-button color="primary" (click)="openDialog()">Signup</button>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <button mat-raised-button routerLink="/guild">Bounties</button>
      <button mat-stroked-button (click)="logout()">Logout</button>
    </ng-container>
  </div>
</mat-toolbar>